.shipmentStateBox {
    display: grid;
    border: solid 1px #eaeaf0;
    border-radius: 10px;
    margin: 0px 4%;
    width: 92%;
    margin-top: 35px;
}

.shipmentDetails {
    padding: 30px;
}

.shipTitle {
    color: #909090;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.shipDetails {
    color: #000000;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.shipStateDetails {
    font-weight: 700 !important;
    font-size: 14px !important;
}

.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    font-weight: 700 !important;
    color: #c3c3c6;
}

.shipmentTable {
    border: solid 1px #eaeaf0;
    padding: 0px 0px 0px 32px;
}

.tableColumn {
    display: grid;
    padding-left: 0px !important;
}

.tableColumn p {
    font-weight: 500;
    font-size: 14px;
    border-bottom: solid 1px #eaeaf0;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tableHead {
    color: #909090;
    background-color: #eaeaf0;
}

.tableTitle {
    font-weight: 600 !important;
    margin-bottom: 20px !important;
}

.addressBox {
    border: solid 1px #eaeaf0;
    background-color: #eaeaf0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.issueBox {
    border: solid 1px #eaeaf0;
    padding: 10px;
    border-radius: 5px;
}

.issueQBox {
    text-align: center;
}

.issueQ {
    font-weight: 600 !important;
    margin-bottom: 5px !important;
}

.issueBtn {
    border-color: transparent;
    color: #ffffff;
    background-color: #e30613;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
}

.issueMark {
    font-size: 75px !important;
    color: #e30613;
    padding-left: 0px !important;
}

.stepperBox {
    width: 100%;
    padding: 20px 30px;
}

@media screen and (max-width: 350px) {
    .shipmentDetails {
        padding: 20px 0px !important;
    }  
    
    .stepperBox {
        width: 100%;
        padding: 20px 0px !important;
    }    

    .tableTitle {
        padding-left: 20px;
    }
}

@media screen and (max-width: 440px) {
    .lastTableHead{
        font-size: 11px !important;
        font-weight: 600 !important;
    }
}

@media screen and (max-width: 600px) {
    .shipmentStateBox {
        justify-content: center;
        text-align: center;
    }    

    .css-1y23bco-MuiDivider-root {
        width: 78% !important;
        margin-left: 11% !important;
    }
}